*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style: none;
}

body{
	font-family: Open sans;
}

.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.pagination{
	position: absolute;
	top: 102%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}


.ls-slide{
	font-size: 35px;
	width: 50;
}

.ls-bg{
	font-size: 35px;
	width: 50;
}

.h3-size {
	color: #005083 !important;
	font-size: 2.5em;
}

.dt-fancy-title .title-left .h4-size {
	font-size: 1.2em !important;
}

.rsShor .slider-post-inner {
	display: none;
}

.tit_cv {
	text-align: center;
	font-size: 1em;
	color: #fff;
	display: block;
	margin: 0.2em;
	background-color: #00b0e7;
	padding: 0.5em;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease;
}

.tit_cv:hover {
	background-color: #005083;
	color: white;
	transition: all 0.3s ease;
}

.imgPeq {
	margin-top: -10px;
	padding-left: 15px !important;
	padding-left: 10px !important;
}

.lista_bull {
	border-bottom: 1px dotted #ccc;
	padding: 0 10px;
}

div.imagenconcss{
	background: url(img/imagencss.jpg) no-repeat 0% 0%;
	background-color: #000;
	line-height: 1.4em;
	margin: 25px 0 25px 15px;
	padding: 50px 8px 5px 20px;
	text-decoration: none;
}

@media screen and (max-width: 600px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
	}

	.pagination{
		display: none;
	}

}